* {
  margin: 0;
  padding : 0;
}

h2 {
  padding: 10px;
  margin-bottom: 5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  background: #333;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 400px;
  height: 200px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.264);
}

.score-board {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  background: #555;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.264);
  cursor: pointer;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button:active {
  transform: scale(0.95);
}

.buttons button:hover {
  background: #777;
}

#restart:hover {
  background: #777;
}

.result-text {
  margin-top: 20px;
  font-size: 18px;
}

#restart {
  margin: 10px;
  padding: 10px 20px;
  background: #555;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.264);
  cursor: pointer;
  font-size: 16px;
}